@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
body{
    background-color: rgb(245, 242, 229);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
 background-color: darkgray;

}
h1{
    color: #722007;
}
.container h3{
    background-color: antiquewhite;
    color: blueviolet;
    padding: 4%;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.8em;
}
/* div{
    font-size: 10px;
} */
p{
    color:hsla(314, 87%, 24%, 0.88);
    font-family:'Imperial Script', Helvetica, sans-serif ;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.6em;
}
#second-p{
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
#box-model{
 background-color: gainsboro;
 width: 300px;
 border: 15px solid brown;
 padding: 50px;
 /* margin: 20px; */

 /* margin-top: 5px;
 margin-right: 10px;
 margin-bottom: 5px;
 margin-left: 10px; */

 /* margin: 5px 10px 5px 10px; */

 margin: 5px 10px;
}
.category{
    border: 1px solid goldenrod;

}
.category ul{
    padding: 0;
    list-style: none;
}
.category a{
    text-decoration: none;
    color: blueviolet;
}
.category a:hover{
    text-decoration: underline;
    color: rebeccapurple;
}
.category li{

}
.my-form{
    padding: 20px;
}
.my-form.form-group{
    padding: 20px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}
.button:hover{
background: rosybrown;
}