@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
body{
    background-color: rgb(245, 202, 202);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
 background-color: rgb(238, 212, 212);

}
h1{
    color: #e77a13;
    margin-left: 13px;
}
.container h3{
    background-color: rgb(211, 193, 193);
    color: blueviolet;
    padding: 1%;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 0.8em;
}
/* div{
    font-size: 10px;
} */
p{
    color:rgb(5, 89, 102);
    font-family:'Imperial Script', Helvetica, sans-serif ;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.6em;
}
#second-p{
    color: rgb(117, 5, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
#box-model{
 background-color: rgb(238, 212, 212);
 width: 350px;
 border: 10px solid rgb(124, 29, 29);
 padding: 15px;
 /* margin: 20px; */

 /* margin-top: 5px;
 margin-right: 10px;
 margin-bottom: 5px;
 margin-left: 10px; */

 /* margin: 5px 10px 5px 10px; */

 margin: 5px 10px;
}
.category{
    border: 1px solid rgb(131, 53, 53);
}
.category h2{
    color: rgb(182, 134, 14);
}
.category ul{
    padding: 0;
    list-style: none;
}
.category a{
    text-decoration: none;
    color: blueviolet;
}
.category a:hover{
    text-decoration: underline;
    color: rebeccapurple;
}
.category li{
    margin-left: 13px;
}
.my-form{
    padding: 10px;
}
.my-form.form-group{
    padding: 20px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
    /* columns: 30; */
    
}
/* .button:hover{
background: rgb(31, 28, 28);
} */
.b24{
    background-color: red;
    color: white;
    border-color: white;
    padding: 10px 35px;
    text-transform: uppercase;
    border-radius: 6px;
}