/* Box-sizing border-box */
* {  
    box-sizing: border-box; 
}


/* Some default styles to make each box visible */
.box {
    color:white;
    font-size: 50px;
    text-align: center;
    text-shadow:4px 4px 0 rgba(0,0,0,0.1);
    padding:10px;
}

/* Colours for each box */
.box1 {background: violet;}
.box2 {background: indigo;}
.box3 {background: blue;}
.box4 {background: green;}
.box5 {background: yellow;}
.box6 {background: orange;}
.box7 {background: red;}
.box8 {background: black;}
.box9 {background: silver;}
.box10 {background: teal;}

.container {
    display: flex;
}

.box1{ 
    flex-basis: 400px;
    flex-grow: 2;
    flex-shrink: 5;
}

.box2{
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}
.box3{
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 1;
}