body,html
{
    padding: 0px;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    font-size: 20px;
    /* overflow-x: hidden; */
    padding-right: 50px;
    /* margin-left:150px; */
    /* margin-right: 50px; */
    /* page-break-inside: auto; */
}
/* nav
{
    padding: 10px;
} */
nav a
{
    padding: 7px;
    text-decoration:none;
    font-size: 14px;
    color: black;
    padding-bottom:315px;
}

.a-right
{
  margin-left: 750px;
  padding: 10px;
  /* margin-left: 25px; */
  /* padding-bottom: 15px; */
}
.a-left
{
    font-size: 20px;
    margin-right: 25px;
}
.a-center
{
    padding-top: 40px;
    text-align: center;
    /* position: relative; */
}

img
{
    padding-top: 40px;
    /* position: fixed; */
    width: 1220px;
    height: 500px;
    /* margin-right: 20px; */
    /* margin-left: 30px; */
    /* margin-left: 5px; */
}
.a-p 
{
    font-size: 17px;
}
.a-p1
{
    width: 95%;
    /* display: inline-block; */
    position: relative;
    margin-left: 13px;
    /* margin-right: 55px; */
    padding-bottom: 20px;
    /* font-size: 20px; */
    text-align: left;
    
}
.a-p2
{
    width: 95%;
    position: relative;
    padding-bottom: 20px;
    /* font-size: 20px; */
    margin-left: 25px;
}

.a-p3
{
    width: 95%;
    position: relative;
    padding-bottom: 20px;
    /* font-size: 20px; */
    margin-left: 25px;
}

/* .banner
{
    background-color: gainsboro;
    height: 100%;
    width: 100%;
    text-align: center;
} */

.banner
{
    background-color:gainsboro;
    /* border-image: 100px; */
    height: 150px;
    width: 95%;
    /* overflow: auto; */
     text-align: center;
    text-decoration: none;
    padding-top: 200px;
    position: relative;
    top: 50px;
    word-spacing: 13px;
    /* overflow-x: hidden; */
}

/* .banner1
{
    padding:px;
    word-spacing: 13px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    padding-top: 250px;
    position: relative;
} */
i{
    /* text-align: right; */
    margin-right: 70px;
    font-size: 35px;
    color: rgb(107, 102, 102);
    /* padding: -25px; */
    padding-bottom:10px ;
}